.social-wrap {
    display: flex;
    justify-content: center;
}

.icon-link {
    display: inline-block;
    margin: 0 5px;
}

.social {
    font-size: 1.5rem;
    padding: 5px;
    display: flex;
    color: #fff;
    text-decoration: none;
}