.logo-info {
    display: flex;
    align-items: center; /* Align items vertically */
}

.logo-info img {
    width: 100px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Add some spacing between the image and text */
}

.text-info {
    flex: 1; /* Allow the text to take up remaining space */
}
