.green-tint {
    position: relative;
    display: block; 
    overflow: hidden; 
}

.green-tint > img {
    width: 100vw !important;
    height: 100vh; 
    opacity: 0.80;
    margin-top: 20px;
    object-fit: cover;
    border-radius: 20px;
    object-position: center;
}

.green-tint::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgba(0, 255, 0, 0.5);
    mix-blend-mode: multiply;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: grey;
    border-radius: 10px;
    padding: 5px;
    z-index: 1;
}
